[alias]
	co = checkout
	ci = commit
	st = status
	up = rebase
[core]
	excludesfile = ~/.gitignore
[diff]
	algorithm = histogram
	colorMoved = true
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
[rerere]
	autoupdate = true
	enabled = true
[user]
	name = zuqq
	email = noahheld17@gmail.com
